
			body {
			background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(pics/Header.png) no-repeat;
			background-color: #222021;
			background-size: cover;
			height: 90vh;
			background-position: top-center;
			position: absolute;
			}
			/* css for the navigation bar */
			header {
			position: fixed;
			top: 0px;
			width:99%;
			height: 90px;
			background-color:#555555;
			z-index: 1;
			}
			header ul {
  			overflow: hidden;
			box-sizing: border-box;
			letter-spacing: 1px;
			text-transform: uppercase;
			}
			header li {
			list-style-type: none;
 			float: left;
			}
			header li a {
  			display: block;
 			color: #ffffff;
  			text-align: center;
 			padding: 5px 20px;
  			text-decoration: none;
			font-family: Cairo;
			font-size: 25px;
			cursor: pointer;
			transition: 1s;
			}
			header li a:hover:not(.active) {
  			background-color: #add8e6;
			}
			.active {
  			background-color: #add8e6;
			}
			/* css for the search bar */
			#searchbar {
  			position: relative;
			right: 30px;
			}
			#searchbar #sliding-panel-outer {
  			display: inline-block;
  			overflow: hidden;
  			position: absolute;
			top: 1px;
  			right: 40px;
  			width: 370px;
  			transition: width 0.4s ease;
			}
			#searchbar #sliding-panel-inner {
			background-color: #add8e6;
 			width: 320px;
			border-radius: 30px;
			border: 3px solid #add8e6;
			}
			#searchbar .search-label {
			background: #add8e6;
			color: #555555;
			border-radius: 50%;
  			width: 40px;
 			height: 25px;
			padding-top: 17px;
			padding-bottom: 17px;
			padding-right: 12px;
			padding-left: 12px;
  			text-align: center;
  			position: absolute;
  			right: 0;
  			top: 0;
  			cursor: pointer;
			font-size: 25px;
			}
			#searchbar .search-label .fa-times,
			#searchbar.collapsed .search-label .fa-search {
  			display: inline-block;
			}
			#searchbar .search-label .fa-search,
			#searchbar.collapsed .search-label .fa-times {
  			display: none;
			}
			#searchbar.collapsed #sliding-panel-outer {
  			width: 0px;
			}
			.btn {
			background: #add8e6;
			height: 50px;
			width: 90px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			border: none;
			font-size: 22px;
			font-family: Cairo;
			color: #555555;
			overflow: hidden;
  			cursor: pointer;
			}
			.btn:active {
			background-color: #ffffff;
			transition: .5s;
			}
			.search-input {
			height: 50px;
			width: 220px;
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
			border: none;
			padding: 10px;
			background-color: #ffffff;
			font-size: 20px;
			font-family: Cairo;
			top: 1px;
			}			

			/* css for the upper part */
			.upper {
  			position: relative;
			top: 25vh;
			}
			.centered {
  			position: relative;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
			font-family: Yatra One;
			color: #add8e6;
			font-size: 50px;
			font-weight: bold;
			white-space: nowrap;
			text-align: center;
			}

			/* css for the search result */
			.container {
			position: relative;
			width: 100%;
			top: 50vh;
			}
			.card {
			position: relative;
			float: right;
			width: 80%;
			height: 220px;
			right: 12vh;
			background-color: #555555;
			padding: 15px 0px;
			display: flex;
			margin: 20px;
			}
			.left_part {
			position: relative;
			width: 320px;
			height: 220px;
			left: -110px;
			background-color: #aaaaaa;
			border-radius: 20px;
			box-shadow: -3px -3px 7px rgba(0,0,0,0.5),
               				3px 3px 5px rgba(0,0,0,0.5);
			}
			.left_part .img {
			width: 320px;
			height: 220px;
			border-radius: 20px;
			}
			.right_part {
			position: relative;
			left: -70px;
			}
			h1 {
			font-family: Cairo;
			line-height: .5;
			letter-spacing: 2px;
			color: #add8e6;
			}
			h2 {
			font-family: B612;
			color: #ffffff;
			text-align: justify;
			text-indent: 100px;
			}
			.button {
			position: absolute;
			display: flex;
			margin: 20px 0px 20px 0px;
			text-align: center;
			float: right;
			bottom: -25px;
			right: 0px;
			}
			.button a {
  			height: 60px;
  			width: 150px;
  			display: block;
  			line-height: 60px;
  			border-radius: 30px;
  			text-decoration: none;
			font-family: Cairo;
  			font-size: 18px;
			color: #15f4ee;
  			text-transform: uppercase;
  			letter-spacing: 1px;
  			overflow: hidden;
  			box-shadow: -3px -3px 7px rgba(255,255,255,0.05),
               				3px 3px 5px rgba(0,0,0,0.5);
			}

			/* css for the footer */
			footer {
			position: relative;
    			background-color: #555555;
    			left: 0;
    			bottom: -50vh;
    			height: 100px;
    			width: 100%;
    			overflow: hidden;
			}
