
			body {
			background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(Header.png) no-repeat;
			background-color: #000000;
			background-size: cover;
			height: 90vh;
			background-position: left;
			letter-spacing: 2px;
			}

			/* css for the navigation bar */
			header {
			position: fixed;
			top: 0px;
			width:99%;
			transition: 2s;
			z-index: 100000;
			}
			header.sticky {
			background: #ffffff;
  			background-color:rgba(255,255,255,0.8);
			}
			header.sticky ul li a{
			color: #000000;
			font-weight: bold;
			}
			header ul {
  			overflow: hidden;
			box-sizing: border-box;
			font-family: Arial;
			font-size: 25px;
			letter-spacing: 1px;
			text-transform: uppercase;
			}
			header li {
			list-style-type: none;
 			float: left;
			padding: 3px;
			}
			header li a {
  			display: block;
 			color: white;
  			text-align: center;
 			padding: 12px 20px;
  			text-decoration: none;
			font-family: Arial;
			cursor: pointer;
			}
			header li a:hover:not(.active) {
  			background-color: #add8e6;
			}
			.active {
  			background-color: #add8e6;
			}

			/* css for the search bar */
			.wrapper{
			display: flex;
			align-items: center;
			}
			.search_box{
			background: #add8e6;
			position: relative;
			height: 45px;
			padding: 5px;
			border-radius: 50px;
			margin-right: 15px;
			display: flex;
			}
			.search_box .search_btn{
			width: 40px;
			height: 45px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffffff;
			margin-left: 5px;
			margin-right: 5px;
			cursor: pointer;
			}
			.search_box .input_search{
			outline: none;
			border: 0;
			background: #ffffff;
			border-radius: 50px;
			padding: 15px 20px;
			width: 300px; 
			height: 45px;
			color: #000000;
			font-size: 20px;
			}
			::placeholder {
  			color: #000000;
			}
			::-webkit-input-placeholder {
  			color: #000000;
			}
			:-ms-input-placeholder {
  			color: #000000;
			}

			/* css for the upper part */
			.upper {
  			position: relative;
			text-align: center;
			top: 20vh;
			}
			.centered {
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
			font-family: Times;
			color: #add8e6;
			font-size: 50px;
			font-weight: bold;
			}

			/* css for the lower part */
			.lower {
			position: relative;
			top: 50vh;
			
			}
			.lowerLeft {
			position: absolute;
  			left: 25px;
			font-family: Arial;
			color: #ffffff;
			}
			.rectangle {
			position: absolute;
			height: 50px;
  			width: 10px;
  			background-color: #add8e6;
			top: 35px;
			left: 170px;
			}
			.CoInfo {
			position: absolute;
			font-size: 40px;
			font-weight: bold;
			top: 40px;
			left: 185px;
			white-space: nowrap;
			}
			.photo {
			position: absolute;
			top: 100px;
			left: 100px;
			}
			/* css for the text boxes */
			form {
			margin: 20px;
			transition: all 4s ease-in-out;
			}
			.fill-up {
			position: relative;
			top: 230px;
			left: 800px;
			}
			form .input_name {
			outline: none;
			border: 0;
			background: #ffffff;
			border-radius: 30px;
			padding: 15px 20px;
			width: 450px; 
			height: 20px;
			color: #000000;
			font-size: 15px;
			margin: 5px;
			}
			form .message {
			outline: none;
			border: 0;
			background: #ffffff;
			border-radius: 30px;
			padding: 15px 20px;
			width: 450px; 
			height: 100px;
			color: #000000;
			font-size: 15px;
			margin: 5px;
			}
			/* css for the button */
			form .button {
  			display: inline-block;
			width: 450px; 
			height: 30px;
  			font-size: 15px;
  			cursor: pointer;
  			text-align: center;
  			text-decoration: none;
  			outline: none;
  			color: #000000;
  			background-color: #add8e6;
  			border: none;
  			border-radius: 30px;
  			box-shadow: 0 7px #999;
			text-spacing: 20px;
			}
			form .button:hover {
			background-color: #add8e6
			}
			form .button:active {
  			background-color: #add8e6;
  			box-shadow: 0 5px #666;
  			transform: translateY(4px);
			}
			
